<h1>InBuilt Pipe Demo </h1>
<h5>
        {{str}}<br>
        {{str |uppercase}}<br>
        {{str |lowercase}}<br>
<hr>
    Amount:{{amount}}<br>
    Amount:{{amount |currency }}<br>
    Amount:{{amount |currency:"JPY" }}<br>
    Amount:{{amount |currency:"INR" }}<br>
    Amount:{{amount |currency:'EUR' }}<br>
    Amount:{{amount |currency }}
   <hr>
   Date :{{date}}<br>
   Date :{{date |date:'fullDate'}}<br>
   Date :{{date |date :'dd/MM/yyyy'}}<br>
   Date :{{date |date :'MM/dd/yyyy'}}<br>
   Date :{{date |date :'MM/dd/yy'}}<br>
   <hr>
Employee:{{preson}}<br>
Employee:{{preson |json }}
<hr>
{{date |date:'fullDate' |slice:0:20 |uppercase}}
pipe chain 















        





















</h5>

